<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/studentInfo.css">
</head>
<body>
    <%- include("../sidebar.ejs") %>
    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <span>Student</span>
                <h2>Information</h2>
            </div>
            <div class="user--info">
                <div class="search--box">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input type="text" placeholder="Search" id="myInput" onkeyup="myFunction()">
                </div>
                <img src="/images/luffy.png" alt="">
            </div>
        </div>
        <div class="tabular--wrapper">
            <!-- <h3 class="main--title">Student Information</h3> -->
            <div class="table-container">
                <table class="list" id="studentInfo">
                    <thead>
                        <tr>
                            <th>Students Number</th>
                            <th>Fullname</th>
                            <th>Course</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                     <tbody id="hehe">
                        <tr>
                           <td>123456789</td>
                           <td>Jefferson M. Garcia</td>
                           <td>BSIT</td>
                           <td><button>View</button></td>
                        </tr>
                        
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("myInput").addEventListener("keyup", function() {
            var filter, table, tr, td, i, txtValue;
            filter = this.value.toUpperCase();
            table = document.getElementById("studentInfo");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // Change index to the column you want to search
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        });
    </script>
        
</body>
</html>