<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" href="/css/forgotPass.css">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <section class="wrapper">
                <div class="img-container">
                <img src="/images/password.jpg" alt="">
                </div>

                <div class="content-container">
                    <div class="label">
                        <h2>Forgot <br> your Password?</h2>
                    </div>
                    <div class="input-container">
                        <input type="email" placeholder="Email Address">
                        <input type="text" placeholder="New Password">
                    </div>
                    <div class="btn-container">
                        <input type="text" placeholder="Confirmed Password">
                        <button id="reset_password">Reset Password</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>