<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nerko+One&family=Poppins&family=Rubik:wght@300&family=Zen+Dots&display=swap" rel="stylesheet">
    <title>Home</title>
    
</head>
<body>
  <%- include('navbar') %>
      <div class="img-container" id="bg">
        <div class="tagline">
        <p>Learn today and have a bright future.</p>
        <h1>Take The First Step To Knowledge With Us</h1>

        <!-- <div class="btn-container">
          <button id="get-started">
            Get Started
           </button>
       </div> -->
      </div>
    </div>
    <div class="main">
    <div class="container2">
      <div class="ieti-tagline">
        <h1>The School <span> that cares</span> and makes your dream <span>come true.</span></h1>
         <h4>Quality Education</h4>
         <p>IETI College of Science and Technology San Pedro Enables Students to develop all of their attributes and skills to achieve their potential as human beings and members of society</p>
      </div>
      <div class="ieti-image">
         <img src="/images/std.jpg" alt="">
      </div>
      
    </div>
    <div class="content-ie">
      <div class="box1 mema ">
        <div class="inside title1">
           <h4 class="title">why choose us</h4>
           <p>Where knowledge is the compass guiding you towards a future of boundless success.</p>
        </div>
      </div>
      <div class="box1">
        <div class="img-cont">
        <img src="/images/icon1.png">
      </div>
        <div class="inside">
           <h4>Academic Excellence</h4>
           <p>IETI College is renowned for its commitment to academic rigor and quality education, providing you with a solid foundation for a successful future.</p>
        </div>
      </div>
      <div class="box1">
        <div class="img-cont">
          <img src="/images/icon3.png">
        </div>
        <div class="inside">
          <h4>Experienced Faculty</h4>
          <p>Our faculty members are experts in their respective fields, bringing a wealth of knowledge and real-world experience to the classroom to guide and inspire you.</p>
        </div>
      </div>
      <div class="box1">
        <div class="img-cont">
          <img src="/images/icon4.png">
        </div>
        <div class="inside">
          <h4>Diverse Range of Programs</h4>
          <p>With a wide array of programs spanning various fields, IETI College offers you the flexibility to pursue your passion and tailor your education to your interests.</p>
        </div>
      </div>
      
   </div>
  </div>
      <script src="js/script.js"></script>
     
      
</body>
</html>