<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery.min.js"></script>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nerko+One&family=Poppins&family=Rubik:wght@300&family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <section class="side">
        <img src="/images/logo.png" alt="">
    </section>
    <section class="main">
        <div class="btn-back">
            <a href="homepage"><i class="fa-solid fa-right-from-bracket fa-flip-both"></i></i></a>
        </div>
        <div class="login-container">
            <p class="title">Welcome</p>
            <div class="seperator"></div>
            <p class="welcome-message">Please provide login credential to proceed and have access to all our services</p>
            <div class="login-form">
                <div class="form-control">
                    <input type="text" id="username" placeholder="Email">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" id="password" placeholder="Password">
                    <i class="fas fa-lock"></i>
                </div>

                <button class="submit" id="login">Login</button>
                <a id="forgot" class="forgot">Forgot Password</a>
            </div>
        </div>
    </section>
    <script type="application/javascript" src="/js/login.js"></script>
</body>
</html>