<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nerko+One&family=Poppins&family=Rubik:wght@300&family=Zen+Dots&display=swap" rel="stylesheet">
    <title>nav</title>
</head>
<body>
  <div class="container-l">
  <div class="logo"><img src="images/logo.png" alt="">
    <div class ="title"><h2>Ieti College of science and technology, inc</h2></div>
  </div>

    <nav class="navbar">
        
        <div class="container-t">
          <input type="checkbox" id="toggler">
          <label class="toggler"for="toggler"><i class="fa-solid fa-bars"></i></label>
        <div class="menu">
        <ul class="nav-links">
          <li class="home"><a href="homepage"><i class="fa-solid fa-house"></i>Home</a></li>
          <li class="contacts"><a href="contacts"><i class="fa-solid fa-phone"></i>Contacts</a></li>
          <!-- <li class="courses"><a href="#"><i class="fa-solid fa-graduation-cap"></i>Courses</a></li> -->
          <li class="register"><a href="reg"><i class="fa-solid fa-id-card"></i>Register</a></li>
          <li><a href="login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
        </ul>
        </div>
       </div>
      </nav>
    </div>
      <script type="application/javascript" src="navbar.ejs"></script>
</body>
</html>