<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href="/css/reg.css">
    <link rel="icon" href="/images/logo.png">

</head>
<body>
    <div class="content">
        <header class="header-container">
            <div class="image-holder">
                <img src="/images/logo.png" alt="">
                <p>IETI College of Science and Technology</p>
            </div>
            <div class="container-button">
                <a href="/homepage" class="back"><i class="fa-solid fa-less-than"></i>Back</a>
            </div>
        </header>
        <div class="container">
           <section class="main-content">
            <form action="#" method="post" class="form"  id="registration-form">
                <div class="paragraph">
                    <h3>Create your free account</h3>
                    <p>Creating an account is free and easy</p>
                </div>
                <div class="button--container1">
                    <a href="login">Proceed to the login page to sign in.</a>
                </div>

                <div class = "line">
                    <div></div>
                    <div><p>or</p></div>
                    <div></div>
                  </div>

                <div class="form-group">
                    <input type="text" id="fullname" name="fullname" placeholder="Full Name" >
                    <input type="tel" id="contact" name="contact" maxlength="11" placeholder="Phone Number">
                    <!-- <select id="course" >
                        <option disabled selected>Select Course</option>
                        <option value="bsit">BSIT</option>
                        <option value="bscpe">BSCpE</option>
                        <option value="beed">BEED</option>
                        <option value="bsba">BSBA</option>
                        <option value="bshrm">BSHRM</option>
                        <option value="bsca">BSCA</option>
                        <option value="bsed-eng">BSED ENG</option>
                        <option value="bsed-math">BSED MATH</option>
                    </select> -->
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Password" >
                </div>
                <div class="form-group">
                    
                    <!-- <input type="text" id="address" name="address" placeholder="Address"> -->
                </div>
                <!-- <div class="form-group gender">
                    <select id="gender">
                        <option selected disabled>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div> -->
                <div class="form-group">
                    <input type="file" style="display: none;" id="file">
                    <img height="100px" width="100px" id="img" src="/user_images/default.jpg" style="object-fit: fill; cursor: pointer;" />
                </div>
                <div class="buttons">
                    <button type="submit" id="submit" class="btn">Submit<i class="fa-solid fa-greater-than"></i></button>
                </div>

                <div class="inst">
                    <p>To successfully register for your new account, please ensure you provide and verify an active email address during the registration process to receive important notifications and confirm your identity.</p>
                </div>
            </form>
            <div class="image-container">
               <div class="images">
                <img src="images/register.jpg" alt="">
               </div>
                <div class="ins">
                    <h4>Please be patient for a 24-hour confirmation period to finalize your account verification.</h4>
                    <p>To access our platform's full features and personalized content, please create an account by providing your essential information and setting up a secure password.</p>
                </div>
            </div>
           </section>
        </div>
   </div>
    <script src="/js/reg.js"></script>
</body>
</html>
