<style>
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    /* max-width: 1380px;
    /* margin: 0 auto; */
} 
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 100vh;
    padding: 0 .75rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgb(113, 99, 186, 255);
   
}
.sidebar:hover{
    width: 260px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 10px 0;
    display: flex ;
    align-items: center;
}
.logo img{
    height: 50px;
    width: 50px;
  
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    margin:8px 0;
    border-radius: 8px;
    transition: all 0.5 ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.menu a {
    padding: 1rem;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    display: flex !important;
    align-items: center; 
    
    gap: 1.5rem !important; 
    /* margin-right: 2.2rem; */
   
    width: 100%;
    height: 100%;
   
}
.menu a i{
    font-size: 1.2rem;
}
 .menu a span{
    overflow: hidden;
    font-size: 15px
}
.menu a i{
    font-size: 1.2rem;
    
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
</style>

<div class="sidebar">
    <div class="logo"><img src="/images/logo.png" alt=""></div>
        <ul class="menu">
            <li class="active"> 
                <a href="/adminDashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
               
            </li>
            <li class="mes">
                <a href="#"><i class="fa-solid fa-message"></i><span>Message</span></a>
                
            </li>
            <li class="acc">
                <a href="/admin/adminRequest"><i class="fa-solid fa-users"></i><span>Accounts</span></a>
                
            </li>
            <li class="info">
                <a href="/admin/studentInfo"><i class="fa-regular fa-address-card"></i></i><span>Student Info</span></a>
                
            </li>
            <li class="form-req">
                <a href="/admin/formRequest"><i class="fa-solid fa-user-plus"></i><span>Form Request</span></a>
                
            </li>
            <li class="cour">
                <a href="/admin/studentCourse"><i class="fa-solid fa-user-graduate"></i><span>Course</span></a>
                
            </li>
            <li class="enr">
                <a href="#"><i class="fa-solid fa-file-circle-check"></i><span>Enrolled Students</span></a>
                
            </li>
            <li class="logout">
                <a href="#"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
                
            </li>
        </ul>
</div>