@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Dhurjati&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1380px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    height: 90%;
    width: 90%;
}
.wrapper{
    position: relative;
    display: flex;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.8px);
    -webkit-backdrop-filter: blur(13.8px);
    border: 1px solid rgba(255, 255, 255, 0.81);
}

.img-container img{
    height: 95%;
    width: 95%;
    padding: 2rem;
}

.img-container{
    width: 50%;
    height: 100%;
}

.content-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: url(/images/locks.jpg) no-repeat;
    background-size: cover; */
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-container input,button{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
    background: rgb(235, 254, 235);
}

.input-container button{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    /*background-image: linear-gradient(to right, #8b3365, #15a0e1);*/
    background-image: linear-gradient(to right, rgb(9, 165, 113), rgb(33, 240, 60) );
    color: #fff;
    cursor: pointer;
    transition: opacity 0.4s;
}

.content-container .input-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 0.6rem;
}

.label{
    padding-left: 1rem;
}

.label h2{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: -10px;
}

.label span{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(27, 112, 35);
}

.logo-container{
    position: absolute;
    right: 20px;
    top: 10px;
  }

.logo-container img{
    height: 70px;
    width: 70px;
  }

  .login-container{
    padding-left: 1rem;
  }

  .login-container a{
    text-decoration: none;
  }

  .label img{
    height: 70px;
    width: 70px;
    margin-left: .6rem;
  }