@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    border: 2px solid red;
    max-width: 1380px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    height: 90%;
    width: 90%;
}
.wrapper{
    border: 2px solid black;
    display: flex;
    height: 100%;
}

.img-container img{
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.img-container{
    width: 50%;
    height: 100%;
}

.content-container{
    width: 50%;
    border: 2px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-container{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}

.input-container input{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}

.content-container .input-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 0.6rem;
}