.menu li:hover, .mes{
    background: #e0e0e058;
    cursor: pointer;
}
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title{
    color: rgb(113, 99, 186, 255);
}
.content--wrapper{
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#inbox-container {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.email {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.email:hover {
    background-color: #f9f9f9;
}

.email .info {
    flex-grow: 1;
}

.email .sender {
    font-weight: bold;
}

.email .subject {
    color: #555;
}

.email .timestamp {
    color: #888;
    font-size: 0.8em;
}

.delete-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#email-content {
    display: none;
    padding: 1em;
}