body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/* .content{
   
    margin: 2rem auto;
    width: 90vw;
    
}
.nav-links .register{
    background-color: #347C17;
    
}
.nav-links .register a{
    color: white;
}

.container {
   
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}
.form{
    padding-right: 1rem;
}

.form-group {
    margin-bottom: 20px;
}
.gender{
    display: flex;
    justify-content: space-around;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type=password],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"]{
    text-transform: capitalize;
}
 

select {
    height: 40px;
}

input[type="radio"] {
    margin-right: 5px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
.content{
    padding: 1rem;
}

.header-container{
    border: 2px solid red;
}

.image-holder{
    display: flex;
    gap: 0.6rem;
    border: 2px solid blue;
}

.image-holder img{
    height: 70px;
    width: 70px;
    
}

.image-holder p{
    font-size: 1.5rem;
    color: rgb(30, 104, 30)
}

.container-button{
    padding-top: 1rem;
}
.container-button .back{
   border: none;
   background: none;
}

.container{
    border: 2px solid black;
}

.paragraph{
    border: 2px solid red;
    width: 50%;
}

.paragraph h3{
    font-size: 1.5rem;

}

.main-content{
    display: flex;
}

.form{
    width: 50%;
    border: 2px solid green;
}

.image-container{
    border: 2px solid black;
    width: 50%;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.form-group input, select{
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
    text-transform: capitalize;
}

#password{
    text-transform: none;
}

#email{
    text-transform: none;
}
