*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

.content{
    max-width: 1380px;
    margin: 0 auto;
   
}



.image-holder{
    display: flex;
    gap: 0.6rem;
    align-items: center;
 
}

.image-holder img{
    height: 70px;
    width: 70px;
    
}


.image-holder p{
    font-size: 1.5rem;
    color: rgb(30, 104, 30)
}

.container-button{
    padding-top: 1rem;
}
.container-button .back{
   border: none;
   background: none;
   color: rgb(83, 177, 203);
   cursor: pointer;
   font-size: 15px;
}
.container-button i{
    color: #c7c7c7;
    cursor: pointer;
    padding-right: 5px;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7c7c7;
    padding-top: 1rem;
}

.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 2px;
    width: 200px;
    background: #c7c7c7;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}

.button--container1{
    margin-top: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(113, 99, 186, 255);
}

.button--container1 a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 0 2rem 0 2rem;
    display: flex;
    width: 100%;
    
}

.paragraph{
    text-align: center;
    padding-bottom: 0.6rem;
}

.paragraph h3{
    font-size: 1.9rem;
    text-align: center;
    margin: 0;
    color: rgb(43, 43, 43); 
}

.paragraph p{
    margin: 0;
    padding-top: 0.6rem;
    color: #9e9d9d;
}

.main-content{
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.form{
    height: 100%;
    width: 40%;
}

.image-container{
  
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.images{
    text-align: center;

}

.images img{
    width: 400px;
    height: 400px;
}

.ins {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ins p{
    margin: 0;
    text-align: center;
    color: #9d9c9c;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.form-group input, select{
    padding: 0.7rem 0 0.7rem 0;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
    text-transform: capitalize;
    border-bottom: 1px solid #c7c7c7;
    border-width: 0 0 2px;
    background-color: white;
}

.buttons{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

#submit{
    padding: .8rem;
    background: rgb(213, 213, 242);
    color: #7e7d7d;
    width: 100%;
    border: none;
}

.buttons i{
    padding-left: 7px;
}

.ins h4{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

#submit:hover{
    color: #fff;
    cursor: pointer;
    background: rgb(113, 99, 186, 255);
}

#password{
    text-transform: none;
}

#email{
    text-transform: none;
}

@media screen and (max-width: 465px) {
    .main-content{
        flex-direction: column;
    }
    .form{
        width: 100%;
    }
    .image-container{
        width: 100%;
        height: 100%;
    }
    .image-holder{
        display: flex;
        justify-content: center;
    }

    .image-holder p{
        padding-left: 1rem;
    }
    
    .container{
        padding: 0;
    }
    .form-group{
        grid-template-columns: repeat(1, 1fr);
        padding: 0.6rem;
    }
    .images{
        width: 100%;
        text-align: center;
    }
    .images img{
        width: 300px;
        height: 300px;
    }
    .ins{
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .main-content{
        flex-direction: column;
        
    }
    .form{
        width: 100%;
    }
    .image-container{
        width: 100%;
        height: 100%;
    }
    .content{
        padding: 0;
    }
    .container{
        padding: 0;
    }
    .form-group{
        grid-template-columns: repeat(1, 1fr);
        padding: 0.6rem;
    }
}
