.menu li:hover, .info{
    background: #e0e0e058;
    cursor: pointer;
}
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title{
    color: rgb(113, 99, 186, 255);
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search--box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.search--box input{
    background: transparent;
    padding: 10px;
}
.search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--box i:hover{
    transform: scale(1.2);
}
/**********table*********************/

.main--title{
    color: rgb(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}
.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table-container{
    max-height: 500px;
    max-width: 1200px;
    overflow: auto;
    font-size: 12px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgb(113, 99, 186, 255);
    color: #fff;
    
}
th{
    padding: 15px;
    text-align: left;
}
thead th,td{
    border: 2px solid red;
    min-width: 200px;
    text-align: center;
}

tbody{
    background: #f2f2f2;
}
td{
    padding: 5px;
    font-size: 12px;
    color: #333;
}
tr:nth-child(even) {
    background: #fff;
}
tfoot{
    background-color: rgb(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td{
    padding: 15px;
}
.table-container #accept{
    color:green;
    background: none;
    cursor: pointer;
    margin-right: 10px;
}
.table-container #remove{
    color:red;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 1rem;
    padding-left: 13px;
}